<div class="page-header">
  <%= render 'shared/page_title', title: t(:blog_index_title) %>
  <ul class="actions">
    <li><%= link_to t(:new), new_blog_path, class: "new" if logged_in?(:site_admin) %></li>
  </ul>
</div>

<div class="col-sm-9">
  <%= paginate @blogs %>
  <%= render @blogs %>
  <%= paginate @blogs %>
</div>

<div class="col-sm-2 offset-sm-1">
  <%= render 'blog_sidebar' %>
</div>


<div class="container">
  <%= link_to t(:back_to_top), blogs_path %>
</div>
