<div class="page-header">
  <%= render 'shared/page_title', title: t(:blog_show_title) %>
  <ul class="actions">
    <li><%= link_to t(:index),  blogs_path, class: "index" %></li>
    <% if logged_in?(:site_admin, :teacher) %>
      <li><%= link_to t(:edit),   edit_blog_path(@blog), class: "edit" %></li>
      <li><%= link_to t(:delete), blog_path, class: "delete", 
              method: :delete, data: { confirm: t(:are_you_sure) } %></li>
      <li><%= link_to blog_status_text(@blog), toggle_status_blog_path(@blog), class: "publish" %></li>
    <% end %>
  </ul>
</div>
<div class="container">
  <nav class="breadcrumb">
    <%= link_to t(:home), root_path, class: "breadcrumb-item" %>
    <%= link_to t(:blog), blogs_path, class: "breadcrumb-item" %>
    <%= link_to @blog.topic.title, topic_path(@blog.topic), class: "breadcrumb-item" %>
    <span class="breadcrumb-item active"><%= @blog.title %></span>
  </nav>
 
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag set_img(@blog.main_image, 'main') %>
    </div>
    <div class="col-sm-6">
      <h4><%= @blog.title %></h4>
      <h6 class="text-muted"><%= @blog.subtitle %></h6>
      <%= @blog.user.full_name %>
      <p>
        <%= t(:published) %> <%= distance_of_time_in_words(@blog.created_at, Time.now) %> <%= t(:ago) %>&nbsp;
        <% if @blog.comments.count > 0 %>
          <i class="fa fa-comment-o"></i> &nbsp;<%= @blog.comments.count %></i>
        <% end %>
      </p>
    </div>
    <div class="col-sm-12">
    <p><%= sanitize @blog.body %></p> 
    <p><%= t(:tags) %>&nbsp;:&nbsp;<%= raw(@blog.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %></p>
      <%= render 'comments/comment_form' %>
      <div id="comments" data-blog-id="<%= @blog.id %>" >
        <%= render @blog.comments %>
      </div>
    </div>
</div>
 
</div>