<div class="d-block mx-auto">
  <div class="card devise-pswd-edit">
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <h2 class="card-title"><%= t('.change_your_password') %></h2>
        <%= f.hidden_field :reset_password_token %>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= f.label :password %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> <%= t(:characters_minimum)%>)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" , class: "form-control"%>
            </div>
            <div class="actions">
              <%= f.submit t('.change_my_password'), class: "btn btn-primary" %>
            </div>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>