<%= render 'shared/errors', obj: @retreat %>
<%= form_for @retreat do |f| %>
<div class= "col-sm-12">
  <div class="form-group">
    <%= f.label t(:name), class: ('required' if required?(@retreat, :name)) %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label t(:start_date), class: ('required' if required?(@retreat, :name)) %>
    <%= f.date_field :start_date, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label t(:end_date), class: ('required' if required?(@retreat, :name)) %>
    <%= f.date_field :end_date, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label t(:teachers), class: ('required' if required?(@retreat, :teachers)) %>
    <%= f.text_field :teachers, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label t(:program_link), class: ('required' if required?(@retreat, :program_link)) %>
    <%= f.text_field :program_link, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label t(:registration_link), class: ('required' if required?(@retreat, :registration_link)) %>
    <%= f.text_field :registration_link, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label class="btn btn-secondary">
      <%= t(:upload_main_image_file) %> <%= f.file_field :main_image,
          style: "display:none;" %>
    </label>
  </div>
  <%= f.hidden_field :main_image_cache %>
  <div class="form-group">
    <label class="btn btn-secondary">
      <%= t(:upload_thumb_nail_file) %> <%= f.file_field :thumb_nail,
          style: "display:none;" %>
    </label>
  </div>
  <%= f.hidden_field :thumb_nail_cache %>
  <div class="form-group">
    <%= f.label t(:body), class: ('required' if required?(@retreat, :body)) %>
    <%= f.hidden_field :body, class: 'form-control', rows: '15', id: "blog_body" %>
    <trix-editor input="blog_body"></trix-editor>
  </div>
  <div class="form-group">
    <%= f.label t(:rbg_id), class: ('required' if required?(@retreat, :rbg_id)) %>
    <%= f.number_field :rbg_id, class: 'form-control' %>
  </div>

  <%= f.submit(@retreat.new_record? ? t(:create): t(:save), class: 'btn btn-primary') %>
  </div>
<% end %>