<div class="card retreat">
  <%= link_to(image_tag(retreat.thumb_nail, 
    options = {class: 'card-img-top'}), retreat_path(retreat)) %>


  <div class="card-body">
    <h4 class="card-title"><%= link_to retreat.name, retreat_path(retreat) %></h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= retreat.teachers %></li>
    <li class="list-group-item"><%= t(:start_date) %> <%= retreat.start_date %>
    <li class="list-group-item"><%= t(:end_date) %> <%= retreat.end_date %></li>
  </ul>
  <div class="card-body">
    <%= link_to(t(:program_link), retreat.program_link, target: :_blank) %>
    <%= link_to(t(:registration_link), retreat.registration_link, target: :_blank) %>
    <% if logged_in?(:site_admin, :teacher) %>
        <ul class="actions mt-2">
        <li><%= link_to t(:edit), edit_retreat_path(retreat), class: "btn btn-primary" %></li>
        <li><%= link_to t(:delete), retreat_path(retreat), class: "btn btn-danger", 
            method: :delete, data: { confirm: t(:are_you_sure) } %></li>
      </ul>
    <% end %>
  </div>
</div>