<div class="page-header">
  <%= render 'shared/page_title', title: t(:retreat_show_title) %>
  <ul class="actions">
    <li><%= link_to t(:index),  retreats_path, class: "index" %></li>
    <% if logged_in?(:site_admin) %>
      <li><%= link_to t(:edit),   edit_retreat_path(@retreat), class: "edit" %></li>
      <li><%= link_to t(:delete), retreat_path, class: "delete", 
              method: :delete, data: { confirm: t(:are_you_sure) } %></li>
    <% end %>
  </ul>
</div>
<div class="container">
  <%= image_tag @retreat.main_image, width: "100%" %>
  <h4><%= @retreat.name %></h4>
  <p><%= @retreat.teachers %></p>
  <p><%= t(:start_date) %> <%= @retreat.start_date %></p>
  <p><%= t(:end_date) %> <%= @retreat.end_date %></p>
  <p><%= link_to(t(:program_link), @retreat.program_link, target: :_blank) %></p>
  <p><%= link_to(t(:registration_link), @retreat.registration_link, target: :_blank) %></p>
</div>