<div class="page-header">
  <%= render 'shared/page_title', title: t(:blog_index_title) %>
  <ul class="actions">
    <li><%= link_to t(:new), new_blog_path, class: "new" if logged_in?(:site_admin) %></li>
    <li><form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </li>
  </ul>
</div>
<div class="container-fluid">
  <br />
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-8 col-md-8">
      <p class="float-right d-md-none">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
      </p>
        <%= paginate @blogs %> <br />
        <%= render @blogs %>
        <%= paginate @blogs %>
    </div>
    <div class="col-3 col-md-3 sidebar-offcanvas" id="sidebar">
      <div class="col-sm-2 offset-sm-1">
        <%= render 'shared/blogs_sidebar' %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <%= link_to t(:back_to_top), blogs_path %>
</div>