<div class="page-header">
  <%= render 'shared/page_title', title: t(:blog_index_title) %>
  <ul class="actions form-inline">
    <li><%= link_to t(:new), new_blog_path, class: "new" if logged_in?(:site_admin, :teacher) %></li>
    <%= search_form_for @q do |f| %>
      <%= f.search_field :body_cont, class: "form-control mb-2", placeholder: t(:search) %>
       <button class="btn btn-outline-success mb-2" type="submit"><%= t(:search) %></button>
    <% end %>
  </ul>
</div>
<br />
<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-sm-10">
    <p class="float-right d-md-none">
      <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
    </p>
    <div class="row justify-content-center">
      <%= will_paginate @blogs %>
    </div>
    <div class="card-deck">
        <%= render @blogs %>
    </div><br />
    <div class="row justify-content-center">
      <%= will_paginate @blogs %>
    </div>
  </div>
  <div class="col-sm-2 sidebar-offcanvas" id="sidebar">
      <%= render 'shared/blogs_sidebar' %>
  </div>
</div>