<div class="page-header">
  <h1> <%= t :home %> </h1>
</div>
<div class="container">
  <div class="row justify-content-around">
    <div id="carouselExampleIndicators" class="carousel slide mb-2" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= link_to image_tag("Water-lily-flowers.jpg", :alt => "Slide1"), {:class => "img-responsive d-block", :alt => "Responsive image"} %>
        </div>
        <div class="carousel-item">
          <%= link_to image_tag("Pink-flower.jpg", :alt => "Slide2"), {:class => "img-responsive d-block w-100", :alt => "Responsive image"} %>
        </div>
        <div class="carousel-item">
          <%= link_to image_tag("Frankincense.jpg", :alt => "Slide3"), {:class => "img-responsive d-block w-100", :alt => "Responsive image"} %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="card-deck col-sm-12 mb-2">
      <div class="card">
        <div class="card-body center">    
          <p class="card-text"><%= t(:check_retreats) %></p>
          <%= link_to t(:retreats), retreats_path, class: "btn btn-primary btn-block" %> 
        </div>
      </div>
      <div class="card">
        <div class="card-body center">
          <p class="card-text"><%= t(:check_services) %></p>
          <%= link_to t(:services), services_path, class: "btn btn-primary btn-block" %> 
        </div>
      </div>
      <div class="card">
        <div class="card-body center">
          <p class="card-text"><%= t(:check_products) %></p>
          <%= link_to t(:products), store_index_path, class: "btn btn-primary btn-block" %> 
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-around">
    <div class="col-sm-10 card">
      <div class="card-body">
        <h6 class="card-title center"><%= t(:signup_newsletter) %></h6>
        <%= render 'shared/errors', obj: @lead %>
        <%= form_for @lead do |f| %>
          <div class= "form-inline">
            <%= f.text_field :first_name, placeholder: t(:first_name), 
              class: 'form-control mr-2' %>
            <%= f.text_field :last_name, placeholder: t(:last_name), 
              class: 'form-control mr-2' %>
            <%= f.text_field :email, placeholder: t(:email), 
              class: 'form-control mr-2' %>
            <%= f.submit t(:subscribe), class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>