<%= render 'shared/errors', obj: @teacher %>
<%= form_for @teacher do |f| %>
<div class= "col-sm-12">
  <div class="form-group">
    <%= f.label t(:name), class: ('required' if required?(@teacher, :name)) %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label t(:summary), class: ('required' if required?(@teacher, :summary)) %>
    <%= f.text_field :summary, class: 'form-control' %>
  </div>
  <%= render 'shared/images', f: f %>
  <div class="form-group">
    <%= f.label t(:biography), class: ('required' if required?(@teacher, :biography)) %>
    <%= f.hidden_field :biography, class: 'form-control', rows: '15', id: "teacher_biography" %>
    <trix-editor input="teacher_biography"></trix-editor>
  </div>
  <%= f.submit(@teacher.new_record? ? t(:create): t(:save), class: 'btn btn-primary') %>
  </div>
<% end %>