<div class="page-header">
  <%= render 'shared/page_title', title: t(:teacher_index_title) %>
  <ul class="actions form-inline">
    <li><%= link_to t(:new), new_teacher_path, class: "new" if logged_in?(:site_admin, :teacher) %></li>
  </ul>
</div>
<br />
<div class="row">
  <div class="col-sm-12">
    <div class="row justify-content-center">
      <%= will_paginate @teachers %>
    </div>
    <div class="card-deck">
      <%= render @teachers %>
    </div><br />
    <div class="row justify-content-center">
      <%= will_paginate @retreats %>
    </div>
  </div>
</div>