<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <% cache @products do %>
        <% @products.each do |product| %>
          <% cache product do %>
            <div class="entry">
              <%= image_tag(product.thumb_nail) %>
              <h3><%= product.title %></h3>
              <div class="description">
                <!--<%= sanitize(product.description) %> -->
              </div>
              <div class="price_line">
                <span class="price"><%= number_to_currency(product.price) %></span>
                <%= link_to t(:add_to_cart), line_items_path(product_id: product), class: "add_to_cart", method: :post, remote: true %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>  
    <div class="col-sm-6">
      <div id="side">
        <div id="cart">
          <%= render @cart %>
        </div>
      </div>
    </div>
  </div>
</div>